.icon > img
{
    border-radius: 1em;
    width: 15em;
    float: left;
}

.banner
{
    background: #ecffad;
    width: 60em;
    height: 15em;
    border-radius: 20px;
    align-items: center;
    display: inline-flex;
    float: left;
}

span
{
    font-size: 2em;
    font-style: italic;
}


.ico > img
{
    width: 18em;
    float: left;
}

.nav > ul
{
    margin-left: 10em;
    display: block;
    float: inherit;
}